<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <strong>Thêm</strong> sản phẩm
                    </div>
                    <div class="card-body card-block">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label">Tên</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="text-input" name="text-input" placeholder="Tên sản phẩm"
                                        class="form-control">
                                    <small class="form-text text-muted">Tên viết rõ ràng, chi tiết</small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Nhà sản xuất</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="text-input" name="text-input" placeholder="Nhà sản xuất"
                                        class="form-control">
                                    <small class="form-text text-muted">bắt buộc phải có</small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Giá</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="email" id="email-input" name="email-input" placeholder="Giá"
                                        class="form-control">
                                    <small class="help-block form-text">Vui lòng nhập chính xác giá </small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Thuế</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="text-input" name="text-input" placeholder="Thuế"
                                        class="form-control">
                                    <small class="form-text text-muted">bắt buộc phải có</small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="text-input" class=" form-control-label">Số lượng</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="text-input" name="text-input" placeholder="Số lượng"
                                        class="form-control">
                                    <small class="form-text text-muted">bắt buộc phải có</small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="textarea-input" class=" form-control-label">Mô tả sản phẩm</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <textarea name="textarea-input" id="textarea-input" rows="9"
                                        placeholder="Văn bản" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="select" class=" form-control-label">Ngành hàng</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="select" id="select" class="form-control">
                                        <option value="0">Xin chọn</option>
                                        <option value="1">Điện tử</option>
                                        <option value="2">Thời trang</option>
                                        <option value="3">Bách hoá</option>
                                    </select>
                                </div>
                            </div>
                            
                            
                            
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="file-input" class=" form-control-label">Chọn hình ảnh chính sản phẩm</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="file" id="file-input" name="file-input" class="form-control-file">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="file-multiple-input" class=" form-control-label">Thêm tối đa 5 hình ảnh
                                        </label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="file" id="file-multiple-input" name="file-multiple-input" multiple=""
                                        class="form-control-file">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Đăng
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Tạo lại
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>