<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <h3 class="title-5 m-b-35">top 10 sản phẩm bán chạy</h3>
            <div class="row">
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>mã sản phẩm</th>
                                <th>tên</th>
                                <th class="text-right">Giá</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>100398</td>
                                <td>iPhone X 64Gb Grey</td>
                                <td class="text-right">26.990.000 đ</td>

                            </tr>
                            <tr>

                                <td>100397</td>
                                <td>Samsung S8 Black</td>
                                <td class="text-right">17.990.000 đ</td>

                            </tr>
                            <tr>

                                <td>100396</td>
                                <td>Game Console Controller</td>
                                <td class="text-right">499.000 đ</td>

                            </tr>
                            <tr>

                                <td>100395</td>
                                <td>iPhone X 256Gb Black</td>
                                <td class="text-right">31.990.000 đ</td>

                            </tr>
                            <tr>

                                <td>100393</td>
                                <td>USB 3.0 Cable</td>
                                <td class="text-right">299.000 đ</td>

                            </tr>
                            <tr>

                                <td>100392</td>
                                <td>Smartwatch 4.0 LTE Wifi</td>
                                <td class="text-right">7.990.000 đ</td>

                            </tr>
                            <tr>

                                <td>100391</td>
                                <td>Camera C430W 4k</td>
                                <td class="text-right">13.990.000 đ</td>

                            </tr>
                            <tr>

                                <td>100393</td>
                                <td>USB 3.0 Cable</td>
                                <td class="text-right">199.000 đ</td>

                            </tr>
                            <tr>

                                <td>100392</td>
                                <td>Smartwatch 4.0 LTE Wifi</td>
                                <td class="text-right">7.990.000 đ</td>

                            </tr>
                            <tr>

                                <td>100391</td>
                                <td>Camera C430W 4k</td>
                                <td class="text-right">13.990.000 đ</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <!-- RECENT REPORT 2-->
                    <div class="recent-report2">
                        <h3 class="title-3">Thống kê theo ngày, tuần, tháng , năm, quý</h3>
                        <div class="chart-info">
                            <div class="chart-info__left">
                                <div class="chart-note">
                                    <span class="dot dot--blue"></span>
                                    <span>Gần đây</span>
                                </div>
                                <div class="chart-note">
                                    <span class="dot dot--green"></span>
                                    <span>Trước đó</span>
                                </div>
                            </div>
                            <div class="chart-info-right">
                                <div class="rs-select2--dark rs-select2--md m-r-10">
                                    <select class="js-select2" name="property">
                                        <option selected="selected">Tất cả</option>
                                        <option value="">Gần đây</option>
                                        <option value="">Trước đó</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <div class="rs-select2--dark rs-select2--sm">
                                    <select class="js-select2 au-select-dark" name="time">
                                        <option selected="selected">Tất cả</option>
                                        <option value="">Ngày</option>
                                        <option value="">Tuần</option>
                                        <option value="">Tháng</option>
                                        <option value="">Năm</option>
                                        <option value="">Quý</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="recent-report__chart">
                            <canvas id="recent-rep2-chart"></canvas>
                        </div>
                    </div>
                    <!-- END RECENT REPORT 2             -->
                </div>
            </div>
        </div>
    </div>
</div>