<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <!-- USER DATA-->
            <div class="user-data m-b-30">
                <h3 class="title-3 m-b-30">
                    <i class="zmdi zmdi-account-calendar"></i>quản lý tài khoản</h3>
                <div class="filters m-b-45">
                    <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                        <select class="js-select2" name="property">
                            <option selected="selected">Tất cả</option>
                            <option value="">Quản trị</option>
                            <option value="">Thành viên</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                        <select class="js-select2 au-select-dark" name="time">
                            <option selected="selected">Tất cả</option>
                            <option value="">Tháng</option>
                            <option value="">Ngày</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
                <div class="table-responsive table-data">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>Họ và tên</td>
                                <td>vai trò</td>
                                <td>chức năng</td>
                                <td>chỉnh sửa</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>
                                    <div class="table-data__info">
                                        <h6>Nguyễn Minh Quốc</h6>
                                        <span>
                                            <a href="#">minhquoc5599@gmail.com</a>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <span class="role admin">admin</span>
                                </td>
                                <td>
                                    <div class="rs-select2--trans rs-select2--sm">
                                        <select class="js-select2" name="property">
                                            <option selected="selected">Toàn quyền</option>
                                            <option value="">Đăng bài</option>
                                            <option value="">Người mua</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>

                            </tr>
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox" checked="checked">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>
                                    <div class="table-data__info">
                                        <h6>Nguyễn Văn B</h6>
                                        <span>
                                            <a href="#">johndoe@gmail.com</a>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <span class="role user">user</span>
                                </td>
                                <td>
                                    <div class="rs-select2--trans rs-select2--sm">
                                        <select class="js-select2" name="property">
                                            <option value="">Toàn quyền</option>
                                            <option value="" selected="selected">Người mua</option>
                                            <option value="">Đăng bài</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </td>
                                <td><a href="/user-edit"><button data-toggle="tooltip" title="Edit"
                                            class="pd-setting-ed"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></button></a>
                                <td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>
                                    <div class="table-data__info">
                                        <h6>Nguyễn Văn C</h6>
                                        <span>
                                            <a href="#">johndoe@gmail.com</a>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <span class="role user">user</span>
                                </td>
                                <td>
                                    <div class="rs-select2--trans rs-select2--sm">
                                        <select class="js-select2" name="property">
                                            <option value="">Toàn quyền</option>
                                            <option value="" selected="selected">Người mua</option>
                                            <option value="">Đăng bài</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </td>
                                <td><a href="/user-edit"><button data-toggle="tooltip" title="Edit"
                                            class="pd-setting-ed"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></button></a>
                                <td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>
                                    <div class="table-data__info">
                                        <h6>Nguyễn Văn D</h6>
                                        <span>
                                            <a href="#">johndoe@gmail.com</a>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <span class="role user">user</span>
                                </td>
                                <td>
                                    <div class="rs-select2--trans rs-select2--sm">
                                        <select class="js-select2" name="property">
                                            <option value="">Toàn quyền</option>
                                            <option value="" selected="selected">Người mua</option>
                                            <option value="">Đăng bài</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </td>
                                <td><a href="/user-edit"><button data-toggle="tooltip" title="Edit"
                                            class="pd-setting-ed"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></button></a>
                                <td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="user-data__footer">
                    <button class="au-btn au-btn-load">xem tiếp</button>
                </div>
            </div>
        </div>
    </div>
</div>